# Requirements for editing, analysis, and data processing
demesdraw
great_tables
ipdb
ipykernel
ipython
itables
joblib
matplotlib
moments-popgen
more-itertools
palettable
pandas
polars
pyarrow
pyslim
tszip
htcluster@git+https://github.com/lkirk/htcluster.git
tskit@git+https://github.com/lkirk/tskit.git@two-locus-staging#egg=tskit&subdirectory=python
