# base requirements for job execution, used in docker container
htcluster@git+https://github.com/lkirk/htcluster.git
joblib
moments-popgen
more-itertools
polars
pyarrow
pyslim
tskit@git+https://github.com/lkirk/tskit.git@53359a0d9f2947767a6511eb5004e43800d34652#subdirectory=python
tszip
zarr
