# Requirements for editing, analysis, and data processing
black
demesdraw
great_tables
ipdb
ipykernel
ipython
isort
itables
joblib
matplotlib
moments-popgen
more-itertools
palettable
pandas
polars
pyarrow
pyslim
tszip
htcluster@git+ssh://git@github.com/lkirk/htcluster
tskit@git+https://github.com/lkirk/tskit.git@two-locus-staging#egg=tskit&subdirectory=python
